.home {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.banner{
    height: 120px;
    background-color: bisque;
    background-size: cover;
    background-position: center center ;
}
.user{
    background-color: bisque;
}
body{
    background-color: beige;
    color: #621b2b;

}

li{
    list-style: none;
}
li img{
    height: 1.5rem;
}
.footemail {
    &::after {
        display: block;
        content: "";
        clear: both;
      }
  }